<div id="sidebar" [class]="'app-sidebar app-sidebar--' + (isSidebarShown ? 'show-all' : 'mini')">
  <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
    <div class="menu">
      <div [ngClass]="isSidebarShown ? 'menu-expanded' : 'menu-collapsed'">
        <div class="flex-grow-1 text-center h-100">
          <img *ngIf="isSidebarShown" src="assets/images/logo/logo_admin_full.png" class="logo-img" alt=""/>
        </div>
        <span (click)="toggleAppSidebar()" *ngIf="isSidebarShown" [innerHTML]="ICON_CLOSE_SIDEBAR | safeHtml"></span>
      </div>
    </div>

    <div class="list-item order-column">
      <div class="menu">
        <div class="menu-toggle-button" (click)="toggleAppSidebar()">
          <span *ngIf="!isSidebarShown" [innerHTML]="ICON_EXPAND_SIDEBAR | safeHtml"></span>
        </div>

        <ng-container *ngFor="let route of routerList">
          <div *hasUserType="route.userType">
            <div class="menu-item"
                 [class.has-sub]="route.submenu?.length"
                 [class.expand]="isExpanded(route.path)"
                 [class.closed]="!isExpanded(route.path)"
                 [ngClass]="isSidebarShown ? '' : 'menu-item-custom'"
                 *hasAuthorities="route.permission">

              <a class="menu-link menu-parent"
                 (click)="route.submenu?.length ? toggleParent(route.path) : getLink(route.path)"
                 [ngClass]="latestUrl === route.path ? 'item-active' : ''"
                 [attr.aria-expanded]="route.submenu?.length ? isExpanded(route.path) : null">
                <div class="menu-icon"><span [innerHTML]="route.icon | safeHtml"></span></div>
                <div [ngClass]="isSidebarShown ? 'menu-text' : 'menu-text-custom'">{{ route.title | translate }}</div>
                <div *ngIf="route.submenu?.length"
                     [ngClass]="isSidebarShown ? 'menu-caret' : 'menu-caret caret-custom'"></div>
              </a>

              <div *ngIf="route.submenu?.length"
                   class="order-column"
                   [ngClass]="isSidebarShown ? 'menu-submenu' : 'menu-submenu-custom'">
                <ng-container *ngFor="let item of route.submenu">
                  <div [ngClass]="isSidebarShown ? 'menu-item' : 'menu-submenu-item'"
                       *hasAuthorities="item.permission">
                    <a class="menu-link"
                       (click)="getLink(route.path + item.path)"
                       [ngClass]="latestUrl === route.path + item.path ? 'item-active' : ''">
                      <div class="menu-icon"><span [innerHTML]="item.icon | safeHtml"></span></div>
                      <div class="menu-text--sub" [ngClass]="isSidebarShown ? 'menu-text' : 'menu-text-custom'">
                        {{ item.title | translate }}
                      </div>
                    </a>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="app-sidebar-mobile-backdrop">
        <a routerLink="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
