.item-search {
  width: calc(50% - 12px);
}

.form-space-between {
  margin-bottom: 16px;
}

.table>:not(caption)>*>* {
  padding: 0.375rem .375rem !important;
}

.select-search-custom.attribute-form-select-custom::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 36px !important;
}

.card-header-custom {
  background-color: #d8edf8;
  padding: 0.75rem;
  border-radius: 5px 5px 0 0;
  color: #333;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.card-header-custom h5 {
  font-size: 1rem;
  font-weight: 600;
}

.attribute-container {
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.attribute-name-select {
  width: 250px;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.custom-select-dropdown {
  padding-right: 40px;
}

.btn-icon-edit {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #007bff;
  padding: 0;
  line-height: 1;
}

.attribute-values-input {
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  height: 36px;
}

.attribute-tag {
  background-color: #007bff;
  color: white;
  padding: 0.125rem 0.25rem 0.125rem 0.675rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
}

.btn-close-tag {
  background: none;
  border: none;
  color: white;
  margin-left: 5px;
  padding: 0;
  line-height: 1;
  font-size: 0.75rem;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.btn-close-tag:hover {
  opacity: 1;
}

.attribute-value-text-input {
  border: none !important;
  box-shadow: none !important;
  display: inline-block;
  width: auto;
  min-width: 120px;
  padding: 0;
  margin-left: 16px;
}

.btn-add-attribute {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-top: 5px;
}

.tab-switcher .nav-link {
  color: #333;
  font-weight: 500;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 0.5rem 1rem;
  margin-bottom: -2px;
}

.tab-switcher .nav-link.active {
  color: #1487ff;
  font-weight: 600;
  background-color: transparent;
  border-color: #1487ff;
  border-bottom-width: 2px;
}

.single-image-display {
  width: 100%;
  height: auto;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}
