.app-content {
  background-color: #ffffff;
  padding: 16px;
  width: 100%;
  min-height: calc(100vh - 50px);
  position: fixed;
  right: 0;
  bottom: 0;
  top: 50px;
  overflow-y: auto;

  &.show-all-content {
    width: calc(100% - 250px);
  }

  &.mini-content {
    width: calc(100% - 72px);
  }
}
