<div class="modal-header">
  <h5 class="modal-title">{{ attribute.id > 0 ? 'Chỉnh sửa thuộc tính' : 'Tạo mới thuộc tính' }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>

<div class="modal-body" id="save-attribute">
  <div>
    <div class="input-text-custom">
      <div class="input-container">
        <div class="input-group">
          <label for="attribute-name" class="title-info">Tên<span class="text-danger m-0">*</span></label>
          <input
            class="input-value form-control"
            [(ngModel)]="attribute.name"
            id="attribute-name"
            placeholder="Ví dụ: Màu sắc, kích cỡ,..."
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="cancel-button-dialog" (click)="dismiss()">Huỷ</button>
  <button
    class="save-button-dialog"
    (click)="confirmSave()"
  >
    Lưu
  </button>
</div>
