
.modal {
  background: rgba(0,0,0,0.5);
}
.order-card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.cursor-pointer {
  cursor: pointer;
  text-decoration: underline;
}
