<!-- Slider -->
<section class="section-slide">
  <div class="wrap-slick1">
    <div class="slick1">
      <div class="item-slick1" style="background-image: url('/assets/images/banner/banner.png'); background-size: cover; height: 60vh">
        <div class="container h-full">
          <div class="flex-col-l-m h-full p-b-30 respon5" style="padding-top: 0; height: 60%">
            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
              <span class="ltext-101 cl2 respon2">
                Bộ sưu tập mẫu 2025
              </span>
            </div>

            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="400">
              <h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
                MẪU THIẾT KẾ MỚI
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <div class="block1 wrap-pic-w">
          <img class="img-fluid" style="aspect-ratio: 5/3" src="/assets/images/banner/web.png" alt="">

          <a routerLink="/client/shop"
             class="block1-txt ab-t-l s-full flex-col-l-sb px-4 p-tb-34 trans-03 respon3 text-decoration-none">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8">
                Website
              </span>

              <span class="block1-info stext-102 trans-04">
                Thiết kế chuyên nghiệp
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">
                Xem mẫu
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <div class="block1 wrap-pic-w">
          <img class="img-fluid" style="aspect-ratio: 5/3" src="/assets/images/banner/logo.png" alt="">

          <a routerLink="/client/shop"
             class="block1-txt ab-t-l s-full flex-col-l-sb px-4 p-tb-34 trans-03 respon3 text-decoration-none">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8">
                Logo
              </span>

              <span class="block1-info stext-102 trans-04">
                Bộ nhận diện thương hiệu
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">
                Xem mẫu
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
        <div class="block1 wrap-pic-w">
          <img class="img-fluid" style="aspect-ratio: 5/3" src="/assets/images/banner/poster.png" alt="">

          <a routerLink="/client/shop"
             class="block1-txt ab-t-l s-full flex-col-l-sb px-4 p-tb-34 trans-03 respon3 text-decoration-none">
            <div class="block1-txt-child1 flex-col-l">
              <span class="block1-name ltext-102 trans-04 p-b-8">
                Ấn phẩm
              </span>

              <span class="block1-info stext-102 trans-04">
                Poster, tờ rơi, catalog
              </span>
            </div>

            <div class="block1-txt-child2 p-b-4 trans-05">
              <div class="block1-link stext-101 cl0 trans-09">
                Xem mẫu
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
  <div class="container">
    <div class="p-b-10">
      <h3 class="ltext-103 cl5">
        Mẫu thiết kế nổi bật
      </h3>
    </div>

    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" (click)="updateFilter()">
          Tất cả mẫu
        </button>

        <ng-container *ngFor="let category of categories">
          <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" (click)="updateFilter(category.id)">
            {{ category.name }}
          </button>
        </ng-container>
      </div>
    </div>

    <div class="row isotope-grid">
      <div *ngFor="let p of trendyProducts; trackBy: trackByProductId" class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item">
        <div class="block2">
          <a class="text-decoration-none text-dark" [routerLink]="['/client/product', p.id]">
            <div class="block2-pic hov-img0">
              <div class="product-img-frame">
                <img [src]="p.thumbnailUrl" alt="IMG-PRODUCT" />
              </div>
            </div>

            <div class="block2-txt flex-w flex-t p-t-14">
              <div class="block2-txt-child1 flex-col-l ">
                <span class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="min-height: 48px">{{ p.name }}</span>
                <span class="stext-105 cl3 fw-bold">{{ getDisplayPrice(p.price) }}</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="flex-c-m flex-w w-full p-t-45">
      <span class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" (click)="loadProducts(true)">
        Xem thêm
      </span>
    </div>
  </div>
</section>
