.body-login {
  display: flex;
  align-items: center;

  .login-img {
    width: 60%;

    .image {
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-image: url('/assets/images/background/background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
  }

  .login-info {
    width: 40%;

    .form-login {
      width: 100%;
      height: 100vh;
      padding: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;

      .form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 45vh;
        width: 75%;

        img {
          width: 95%;
        }

        .info {
          display: flex;
          flex-direction: column;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          height: 70%;
          row-gap: 0.5rem;

          .title-login {
            text-transform: uppercase;
            font-size: 24px;
            font-weight: 700;
            color: #333333;
          }

          .input-login {
            width: 100%;
          }

          .remember {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .form-check {
              label {
                color: #333333;
              }

              .form-check-input:checked {
                background-color: var(--app-main-color);
                border-color: var(--app-main-color);
              }
            }
          }

          .button-login {
            width: 100%;
            background-color: var(--app-main-color);
            border: none;
            border-radius: 8px;
            padding: 8px 24px;
            color: #ffffff;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1700px) {
  .login-img {
    width: 70%;
  }
  .login-info {
    width: 30%;
  }
}

@media only screen and (max-height: 800px) {
  .form {
    height: 50vh;
  }
}
