<div class="container p-t-30 p-b-80">
  <div class="row">
    <div class="col-lg-7 col-md-8 col-sm-12 m-lr-auto">
      <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 p-lr-15-sm">
        <h4 class="mtext-109 cl2 p-b-30">Checkout</h4>

        <form [formGroup]="billingForm" (ngSubmit)="placeOrder()">
          <div class="row">
            <div class="col-12 p-b-20">
              <h5 class="stext-102 cl3">Billing details</h5>
            </div>

            <div class="col-sm-6 p-b-20">
              <label class="stext-102 cl3">Full name *</label>
              <input type="text" formControlName="fullname" class="form-control bor8">
            </div>

            <div class="col-sm-6 p-b-20">
              <label class="stext-102 cl3">Email *</label>
              <input type="email" formControlName="email" class="form-control bor8">
            </div>

            <div class="col-sm-6 p-b-20">
              <label class="stext-102 cl3">Phone *</label>
              <input type="text" formControlName="phone" class="form-control bor8">
            </div>

            <div class="col-sm-6 p-b-20">
              <label class="stext-102 cl3">Address *</label>
              <input type="text" formControlName="address" class="form-control bor8">
            </div>

            <div class="col-sm-6 p-b-20">
              <label class="stext-102 cl3">City *</label>
              <input type="text" formControlName="city" class="form-control bor8">
            </div>

            <div class="col-sm-6 p-b-20">
              <label class="stext-102 cl3">Country *</label>
              <input type="text" formControlName="country" class="form-control bor8">
            </div>

            <div class="col-sm-6 p-b-20">
              <label class="stext-102 cl3">Postcode</label>
              <input type="text" formControlName="postcode" class="form-control bor8">
            </div>
          </div>

          <div class="p-t-20 p-b-20">
            <label class="stext-102 cl3"><input type="checkbox" [checked]="shippingSame" (change)="onShippingSameChange($event)"> Shipping address same as billing</label>
          </div>

          <div class="p-t-20 p-b-20">
            <h5 class="stext-102 cl3">Payment method</h5>
            <div class="flex-w p-t-10">
              <label class="m-r-20"><input type="radio" name="pay" (click)="paymentMethod='cod'" [checked]="paymentMethod==='cod'"> Cash on Delivery</label>
              <label><input type="radio" name="pay" (click)="paymentMethod='card'"> Credit Card</label>
            </div>

            <div class="p-t-15" *ngIf="paymentMethod==='card'">
              <div [formGroup]="cardForm" class="row">
                <div class="col-sm-6 p-b-15">
                  <input type="text" class="form-control bor8" placeholder="Card holder name" formControlName="cardName">
                </div>
                <div class="col-sm-6 p-b-15">
                  <input type="text" class="form-control bor8" placeholder="Card number" formControlName="cardNumber">
                </div>
                <div class="col-sm-6 p-b-15">
                  <input type="text" class="form-control bor8" placeholder="Expiry" formControlName="cardExpiry">
                </div>
                <div class="col-sm-6 p-b-15">
                  <input type="text" class="form-control bor8" placeholder="CVV" formControlName="cardCvv">
                </div>
              </div>
            </div>

            <div class="p-t-20">
              <button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">Place Order</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-4 col-md-8 col-sm-12 m-lr-auto">
      <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 p-lr-15-sm">
        <h4 class="mtext-109 cl2 p-b-30">Order Summary</h4>

        <div *ngFor="let it of cartItems" class="flex-w flex-t p-b-20">
          <div class="size-208">
            <img [src]="it.image" alt="" style="width:80px;height:80px;object-fit:cover;">
          </div>
          <div class="size-209 p-t-2">
            <a href="javascript:void(0)" class="stext-104 cl4 hov-cl1 trans-04">{{ it.name }}</a>
            <span class="stext-105 cl3">{{ it.qty }} x {{ it.price | vndCurrency:23000 }}</span>
          </div>
        </div>

        <div class="flex-w flex-t p-t-18 p-b-15 bor12">
          <div class="size-208">
            <span class="stext-110 cl2">Subtotal:</span>
          </div>
          <div class="size-209">
            <span class="mtext-110 cl2">{{ subtotal | vndCurrency:23000 }}</span>
          </div>
        </div>

        <div class="flex-w flex-t p-t-18 p-b-15 bor12">
          <div class="size-208">
            <span class="stext-110 cl2">Shipping:</span>
          </div>
          <div class="size-209">
            <span class="mtext-110 cl2">{{ shipping | vndCurrency:23000 }}</span>
          </div>
        </div>

        <div class="flex-w flex-t p-t-18 p-b-15 bor12">
          <div class="size-208">
            <span class="stext-110 cl2">Total:</span>
          </div>
          <div class="size-209">
            <span class="mtext-110 cl2">{{ total | vndCurrency:23000 }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
