<div class="modal-body p-4" style="max-height: 75vh; overflow-y: auto">
  <div class="text-end">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="dismiss()"></button>
  </div>

  <div>
    <h2 class="text-xl font-bold mb-4 text-gray-800">Đặt đơn</h2>

    <ng-container *ngIf="isPendingPayment">
      <div class="container-fluid border p-0" style="height: 300px; position: relative;">
        <div class="d-flex justify-content-center align-items-center w-100 h-100 bg-light">
          <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!isPendingPayment">
      <div class="order-detail d-flex justify-content-between">
        <ng-container *ngIf="products && products.length > 0">
          <div class="flex-grow-1 shadow-sm">
            <ng-container *ngFor="let product of products">
              <div class="d-flex align-items-start mb-3" *ngIf="product">
                <div style="width: 64px; max-width: 15%; aspect-ratio: 1/1">
                  <img class="img-fluid rounded w-100 h-100" [src]="product.thumbnail" alt="">
                </div>
                <div class="w-75 ms-3">
                  <p class="text-sm font-weight-bold mb-0">{{ product.productName }}</p>
                  <p class="text-sm mt-1">{{ product.price | vndCurrency }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <div style="width: 450px; max-width: 40%" class="p-4 pt-0 shadow-sm">
          <div class="flex justify-between items-center mb-3">
            <div class="flex items-center gap-2">
              <span class="font-weight-bold">Mã giảm giá của cửa hàng</span>
            </div>
          </div>

          <div class="row" *ngIf="orderRequest && vouchers && vouchers.length > 0">
            <ng-container *ngFor="let voucher of vouchers">
              <label class="col-12 d-flex shadow-sm rounded align-items-center py-2">
                <input
                  type="checkbox"
                  name="voucher-{{ voucher.id }}"
                  class="hidden peer"
                  [checked]="orderRequest.voucherIds.includes(voucher.id)"
                  (change)="onVoucherChange(voucher, $event)"
                >
                <div class="ps-4 overflow-hidden">
                  <p class="text-sm mb-0 voucher-name">{{ voucher.name }}</p>
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="text-danger mb-0" style="font-size: 12px">
                      Giảm tối đa: {{ voucher.value | number }}đ
                    </p>
                    <p class="text-muted mb-0" style="font-size: 11px" *ngIf="voucher.dateExpired">
                      HSD: {{ formatDateNumber(voucher.dateExpired) }}
                    </p>
                  </div>
                  <p class="text-muted mb-0" style="font-size: 11px">
                    Áp dụng cho sản phẩm thuộc Shop {{ voucher.shopId }}
                  </p>
                </div>
              </label>
            </ng-container>
          </div>

          <ng-container *ngIf="!vouchers || vouchers.length === 0">
            <div>Không có mã giảm giá nào khả dụng</div>
          </ng-container>
        </div>
      </div>

      <div class="p-4 shadow-sm">
        <h5 class="font-weight-bold mb-3">Chi tiết thanh toán</h5>

        <div class="d-flex align-items-center">
          <span style="width: 130px" class="me-2">Tổng tiền: </span>
          <span>{{ amount | vndCurrency }}</span>
        </div>
        <div class="d-flex align-items-center">
          <span style="width: 130px" class="me-2">Giảm giá: </span>
          <span>{{ (rawAmount - totalAmount) | vndCurrency }}</span>
        </div>
        <hr class="my-2 border-dashed">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-grow-1 align-items-center pt-1">
            <span style="width: 130px" class="font-weight-bold me-2">Tổng thanh toán: </span>
            <span class="text-danger fs-5 fw-bold">{{ totalAmount | vndCurrency }}</span>
          </div>

          <button class="btn btn-danger w-25 py-2 mt-3" (click)="createOrderRequest()">Đặt hàng</button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
