<div class="title-feature form-space-between">
  <h5>{{ 'text.accountList' | translate }}</h5>

  <ng-container *hasAuthorities="Authorities.ACCOUNT_CREATE">
    <button class="success-button-dialog ms-3" (click)="openModalSaveAccount()">
      <span [innerHTML]="ICON_PLUS | safeHtml"></span>
      <span>{{ 'text.createAccount' | translate }}</span>
    </button>
  </ng-container>
</div>

<div class="field-search">
  <div class="search-criteria">
    <app-date-filter
      [class]="periods == 8 ? 'col-9' : 'col-3'"
      (timeChange)="onTimeChange($event)"
      [periods]="periods"
      [clearable]="false"
    >
    </app-date-filter>

    <div class="item-search">
      <span>{{ 'global.status' | translate }}</span>
      <div class="select-search-custom">
        <ng-select
          [items]="userStatusOption"
          bindLabel="name"
          bindValue="value"
          [clearable]="false"
          [placeholder]="'text.selectStatus' | translate"
          [(ngModel)]="userFilter.status"
          (ngModelChange)="onSearch()"
        >
        </ng-select>
      </div>
    </div>

    <div class="item-search">
      <label for="account-search-keyword" class="fw-semibold">{{ 'global.keyword' | translate }}</label>
      <div class="input-text-custom">
        <input
          id="account-search-keyword"
          class="form-control"
          [(ngModel)]="userFilter.keyword"
          type="search"
          (keyup.enter)="onSearch()"
          [placeholder]="'text.searchAccountPlaceholder' | translate"
          autocomplete="off"
        />
      </div>
    </div>
  </div>

  <div class="form-btn-search">
    <button class="cancel-button-dialog" (click)="onReload()" [disabled]="isLoading">
      <span [innerHTML]="ICON_RELOAD | safeHtml"></span>
      {{ 'global.reset' | translate }}
    </button>
    <button class="save-button-dialog ms-3" (click)="onSearch()" [disabled]="isLoading">
      <span [innerHTML]="ICON_SEARCH | safeHtml"></span>
      {{ 'global.search' | translate }}
    </button>
  </div>
</div>

<div class="table-responsive">
  <table class="table editing-table">
    <thead>
      <tr class="table-custom-header">
        <th>{{ 'global.no' | translate }}</th>
        <th>{{ 'global.account' | translate }}</th>
        <th>{{ 'global.fullname' | translate }}</th>
        <th>{{ 'global.createdBy' | translate }}</th>
        <th>{{ 'global.createdDate' | translate }}</th>
        <th>{{ 'global.status' | translate }}</th>
        <th>{{ 'global.action' | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let user of users; index as i">
        <tr [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }" class="table-custom-body">
          <td class="text-center">{{ i + 1 + (userFilter.page - 1) * userFilter.size }}</td>
          <td class="text-center" (click)="openModalAccountDetail(user.id)">{{ user.username }}</td>
          <td class="text-center" (click)="openModalAccountDetail(user.id)">{{ user.fullname }}</td>
          <td class="text-center" (click)="openModalAccountDetail(user.id)">
            <span [ngClass]="user.status == USER_STATUS.ACTIVE_INT ? 'success-color' : 'danger-color'">
              <span *ngIf="user.status == USER_STATUS.ACTIVE_INT">Đang hoạt động</span>
              <span *ngIf="user.status == USER_STATUS.INACTIVE_INT">Dừng hoạt động</span>
              <span *ngIf="user.status == USER_STATUS.LOCKED_INT">Đã bị khóa</span>
            </span>
          </td>
          <td class="text-center" (click)="openModalAccountDetail(user.id)">
            {{ user.createdDate | date: 'dd/MM/yyyy' }}
          </td>
          <td class="text-center" (click)="openModalAccountDetail(user.id)">{{ user.createdBy }}</td>

          <td>
            <div class="action-table">
              <ng-container *hasAuthorities="Authorities.ACCOUNT_UPDATE">
                <span
                  [innerHTML]="ICON_UPDATE | safeHtml"
                  (click)="openModalSaveAccount(user.id)"
                  [ngbTooltip]="'text.updateAccount' | translate"
                ></span>
              </ng-container>

              <ng-container *hasAuthorities="Authorities.ACCOUNT_UPDATE">
                <span
                  *ngIf="user.status === USER_STATUS.ACTIVE && user.username.toLowerCase() !== username.toLowerCase()"
                  [innerHTML]="ICON_STOP | safeHtml"
                  (click)="updateUserStatus(user.id, USER_STATUS.INACTIVE)"
                  [ngbTooltip]="'text.lockAccount' | translate"
                ></span>
                <span
                  *ngIf="user.status === USER_STATUS.INACTIVE && user.username.toLowerCase() !== username.toLowerCase()"
                  [innerHTML]="ICON_PLAY | safeHtml"
                  (click)="updateUserStatus(user.id, USER_STATUS.ACTIVE)"
                  [ngbTooltip]="'text.unlockAccount' | translate"
                ></span>
              </ng-container>

              <ng-container *hasAuthorities="Authorities.ACCOUNT_UPDATE">
                <span
                  [innerHTML]="ICON_KEY | safeHtml"
                  (click)="changePassword(user)"
                  [ngbTooltip]="'text.changePassword' | translate"
                ></span>
              </ng-container>

              <ng-container *ngIf="user.username.toLowerCase() !== username.toLowerCase()">
                <span
                  [innerHTML]="ICON_DELETE | safeHtml"
                  (click)="deleteUser(user.id)"
                  [ngbTooltip]="'text.deleteAccount' | translate"
                  *hasAuthorities="Authorities.ACCOUNT_DELETE"
                ></span>
              </ng-container>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="from-pagination">
  <div class="total">
    <span class="label-total">{{ 'global.total' | translate }}: {{ totalItems | number }}</span>
    <ng-select
      [items]="PAGINATION_PAGE_SIZE"
      [(ngModel)]="userFilter.size"
      (ngModelChange)="getUsers()"
    >
    </ng-select>
  </div>

  <ngb-pagination
    class="pagination"
    [collectionSize]="totalItems"
    [pageSize]="userFilter.size"
    [page]="userFilter.page"
    [directionLinks]="true"
    [maxSize]="5"
    (pageChange)="loadMore($event)"
  ></ngb-pagination>
</div>
