<!-- breadcrumb -->
<div class="container">
  <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
    <a routerLink="/client/home" class="stext-109 cl8 hov-cl1 trans-04">
      Trang chủ
      <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
    </a>
    <span class="stext-109 cl4">Giỏ hàng</span>
  </div>
</div>

<form class="bg0 pt-5 p-b-85">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        <div class="cart-left">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <colgroup>
                <col style="width:5%">
                <col style="width:15%">
                <col style="width:40%">
                <col style="width:30%">
                <col style="width:10%">
              </colgroup>

              <tr class="table_head">
                <th class="column-1 text-center">
                  <input type="checkbox"/>
                </th>
                <th class="column-1">Mẫu thiết kế</th>
                <th class="column-2"></th>
                <th class="column-4 text-right">Tổng</th>
                <th class="column-4 text-center"></th>
              </tr>

              <tr *ngFor="let cartProduct of cartProducts$ | async; let i = index" class="table_row" style="border-top:1px solid #eee;">
                <td class="text-center">
                  <input type="checkbox"/>
                </td>
                <td class="column-1">
                  <img [src]="cartProduct.thumbnail" alt="" style="width:80px; height:80px; object-fit:cover;">
                </td>
                <td class="column-2">{{ cartProduct.productName }}</td>
                <td class="column-3 text-right">{{ cartProduct.price | vndCurrency }}</td>
                <td class="column-3 text-right">
                  <span (click)="removeItem(cartProduct)" [innerHTML]="ICON_DELETE | safeHtml"></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
        <div class="bor10 p-4 cart-summary">
          <h4 class="mtext-109 cl2 pb-2">Thành tiền</h4>

          <div class="flex-w flex-t bor12 pb-5">
            <div class="size-208">
              <span class="stext-110 cl2">Tạm tính:</span>
            </div>
            <div class="size-209">
              <span class="mtext-110 cl2">{{ total | vndCurrency }}</span>
            </div>
          </div>

          <button (click)="proceedToCheckout()" type="button" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">Đặt hàng</button>
        </div>
      </div>
    </div>
  </div>
</form>
