<div class="title-feature form-space-between">
  <span>{{ 'text.product' | translate }}</span>
  <button class="success-button-dialog ms-3" (click)="openModalSaveVoucher()">
    <span [innerHTML]="ICON_PLUS | safeHtml"></span>
    {{ 'text.createProduct' | translate }}
  </button>
</div>

<div class="field-search">
  <div class="search-criteria">
    <div class="item-search">
      <label for="search-role-keyword" class="fw-semibold">{{ 'global.keyword' | translate }}</label>
      <div class="input-text-custom">
        <input
          [(ngModel)]="vouchersFilter.keyword"
          name="keyword"
          class="form-control"
          type="search"
          id="search-role-keyword"
          [placeholder]="'text.searchProductPlaceholder' | translate"
          (keyup.enter)="onSearch()"
        />
      </div>
    </div>
    <button class="save-button-dialog ms-4" (click)="onSearch()" [disabled]="isLoading">
      <span [innerHTML]="ICON_SEARCH | safeHtml"></span>
      {{ 'global.search' | translate }}
    </button>
  </div>
</div>

<div class="tab-pane fade active show">
  <div class="row">
    <div class="col-xl-12">
      <div class="panel panel-inverse">
        <div class="table-responsive">
          <table class="table editing-table">
            <thead class="table-header-sticky">
            <tr class="table-custom-header">
              <th>{{ 'global.no' | translate }}</th>
              <th>{{ 'text.shopName' | translate }}</th>
              <th>{{ 'text.ownerName' | translate }}</th>
              <th>{{ 'text.ownerEmail' | translate }}</th>
              <th>{{ 'text.ownerPhone' | translate }}</th>
              <th>{{ 'text.status' | translate }}</th>
              <th>{{ 'text.createdDate' | translate }}</th>
              <th>{{ 'global.action' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let voucher of vouchers; index as i">
              <tr [ngClass]="{ 'odd-row': i % 2 === 1, 'even-row': i % 2 === 0 }" class="table-custom-body">
                <td class="text-center">{{ (vouchersFilter.page - 1) * vouchersFilter.size + i + 1 }}</td>
                <td class="break-word-table text-left" (click)="view(voucher.id)">{{ voucher.code }}</td>
                <td class="break-word-table text-left td-text-overflow" (click)="view(voucher.id)">{{ voucher.name }}</td>
                <td class="break-word-table text-center" (click)="view(voucher.id)">{{ voucher.type }}</td>
                <td class="break-word-table text-right" (click)="view(voucher.id)">{{ voucher.value }}</td>
                <td class="break-word-table text-center" (click)="view(voucher.id)">{{ voucher.status }}</td>
                <td class="break-word-table text-center" (click)="view(voucher.id)">{{ voucher.dateExpired }}</td>
                <td>
                  <div class="action-table">
                    <ng-container>
                      <span
                        [innerHTML]="ICON_UPDATE | safeHtml"
                        [ngbTooltip]="'global.update' | translate"
                        (click)="openModalSaveVoucher(voucher)"
                      ></span>
                    </ng-container>

                    <ng-container>
                      <span
                        [innerHTML]="ICON_DELETE | safeHtml"
                        [ngbTooltip]="'global.delete' | translate"
                        (click)="delete(voucher.id)"
                      ></span>
                    </ng-container>
                  </div>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="from-pagination">
    <div class="total">
      <span class="label-total">{{ 'global.total' | translate }}: {{ totalItems | number }}</span>
      <ng-select
        [items]="PAGINATION_PAGE_SIZE"
        [(ngModel)]="vouchersFilter.size"
        (ngModelChange)="getShopsWithPaging()"
      >
      </ng-select>
    </div>
    <ngb-pagination
      class="pagination"
      [collectionSize]="totalItems"
      [pageSize]="vouchersFilter.size"
      [(page)]="vouchersFilter.page"
      [directionLinks]="true"
      [maxSize]="5"
      (pageChange)="onChangedPage($event)"
    ></ngb-pagination>
  </div>
</div>
