<div class="modal-header">
  <h5 class="modal-title">{{ category.id > 0 ? 'Chỉnh sửa danh mục' : 'Tạo mới danh mục' }}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>

<div class="modal-body" id="save-category">
  <div>
    <div class="input-text-custom">
      <div class="input-container">
        <div class="input-group">
          <label for="category-code" class="title-info">Mã<span class="text-danger m-0">*</span></label>
          <input
            class="input-value form-control"
            [(ngModel)]="category.code"
            id="category-code"
            placeholder="Ví dụ: LOGO"
          />
        </div>
        <div class="input-group">
          <label for="category-name" class="title-info">Tên<span class="text-danger m-0">*</span></label>
          <input
            class="input-value form-control"
            [(ngModel)]="category.name"
            id="category-name"
            placeholder="Ví dụ: Logo"
          />
        </div>
      </div>
      <div class="input-container my-3">
        <div class="input-group">
          <label for="category-description" class="title-info">Mô tả</label>
          <textarea
            class="input-value form-control"
            [(ngModel)]="category.description"
            id="category-description"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button class="cancel-button-dialog" (click)="dismiss()">Huỷ</button>
  <button
    class="save-button-dialog"
    (click)="confirmSave()"
  >
    Lưu
  </button>
</div>
